<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAddService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IUserStateService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/AddService/UserStateService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IUserStateService"
                contract="StatusService.IUserStateService" name="WSDualHttpBinding_IUserStateService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/AddService/AddService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddService"
                contract="AddUserService.IAddService" name="BasicHttpBinding_IAddService" />
        </client>
    </system.serviceModel>
</configuration>